[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flake8 = "*"
psycopg2-binary = "*"
requests = "*"
beautifulsoup4 = "*"
lxml = "*"
fake-useragent = "*"
asyncio = "*"
aiogram = "*"
polygon-api-client = "*"

[dev-packages]

[requires]
python_version = "3.10"
